build
deps/gsl-1.14/*.o
deps/gsl-1.14/*.lo
deps/gsl-1.14/gsl/*
deps/gsl-1.14/*/*.o
deps/gsl-1.14/*/*.lo
deps/gsl-1.14/*/Makefile
deps/gsl-1.14/*/*.la
deps/gsl-1.14/Makefile
deps/gsl-1.14/config.h
deps/gsl-1.14/config.log
deps/gsl-1.14/config.status
deps/gsl-1.14/gsl-config
deps/gsl-1.14/gsl-histogram
deps/gsl-1.14/gsl-randist
deps/gsl-1.14/gsl.pc
deps/gsl-1.14/gsl.spec
deps/gsl-1.14/libgsl.la
deps/gsl-1.14/libtool
deps/gsl-1.14/siman/siman_tsp
deps/gsl-1.14/stamp-h1
.*
!.gitignore